<!-- 
    this is the complete index for articles, as you can see it on the index page.
    Every Post type get's their own little settings.
-->
<article style="border-radius: 20px;">
            {% if post.featimg %}
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                    <img style="border-radius: 20px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;" src="{{ post.featimg }}" alt="{{ thumb }}">
                </a>
            {% endif %}
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">
        <h1>{{ post.title }}</h1>
    </a>
    <p class="post-content">{{ post.content | strip_html | truncatewords: 15 }}</p>
    <p class="actions">
        <center><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}">Play</a></center>
    </p>
</article>
