<!-- menu, we did go with a static one, you can build a dynamic one, just google a little around -->
<img src="https://tetretalk.gq/favicon.ico" width="64px" height="64px" style="
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 21;
    border-radius: 50%;
">

<div class="main-menu">
    <div class="content" style="
    margin-left: 75px;
">
        <nav id="menu">
            <a class="toggle-link noline"><i class="fa fa-close fa-lg"></i></a>
            <ul>
                <li>
                    <a class="homelink" href="{{ site.baseurl | replace: '//', '/' }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/archive">Archive</a>
                </li>
                <li>
                    <a href="{{ site.baseurl | replace: '//', '/' }}/typography">Typography</a>
                </li>
            </ul>
        </nav>
        <nav class="iconnav">
            <ul>
                <li class="sicon">
                    <a href='#search'><i class='fa fa-search'></i></a>
                </li>
            </ul>
        </nav>
        <a href='#menu' class="toggle-link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</div>

